@media (min-width: 992px) {
    .navbar-collapse {
        background-color: transparent;
        border-bottom: none;
    }

    .preschool-blob {
        height: 50rem;
    }

    .footer-link {
        font-size: 2.5rem;
    }

    .text-page-header {
        font-size: 6rem;
    }
}