<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="preschool-blob mb-3">

    <defs>
        <style type="text/css">
            @import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Nunito&display=swap');

            text {
                font-size: 3rem;
                font-family: 'Butterfly Kids';
                fill: #FFFFFF;
            }

            path {
                fill: #F77810;
            }
        </style>
    </defs>

    <path
        d="M38.3,-63.7C51.7,-58.5,66.2,-52.6,71.4,-41.8C76.5,-31.1,72.2,-15.5,69.3,-1.7C66.4,12.2,65,24.4,61.1,37.3C57.2,50.1,50.8,63.5,40.2,70.1C29.6,76.7,14.8,76.5,-0.8,77.9C-16.5,79.3,-32.9,82.4,-43,75.5C-53,68.6,-56.7,51.7,-63.2,37.5C-69.7,23.2,-79,11.6,-78.9,0.1C-78.7,-11.4,-69.1,-22.9,-60.9,-34.2C-52.6,-45.4,-45.8,-56.5,-35.9,-63.7C-26,-70.9,-13,-74.2,-0.3,-73.7C12.4,-73.2,24.8,-68.8,38.3,-63.7Z"
        transform="translate(100 100)" />
    <text x="60" y="100" transform="rotate(5,50,40)">{{ playgroup_name }}</text>
</svg>