<footer class="mt-auto background-red footer border-top-orange">
    <div class="container-fluid row m-0 pt-3">

            <div class="col-12 col-md-6 col-lg-6 col-xl-4 mx-auto p-0 m-0 d-flex flex-column align-items-center justify-content-start">
                <div class="w-100 d-flex flex-row align-items-center justify-content-around">

                    <a href="{{ playgroup_dropped_pin }}"
                    target="_blank" rel="noopener noreferrer" class="text-sm text-white footer-link">
                        <i class="fa-solid fa-location-dot"></i>
                    </a>

                    <a href="tel:{{ playgroup_phone_number }}" class="text-sm text-white footer-link">
                        <i class="fa-solid fa-square-phone"></i>
                    </a>

                    <a href="mailto:{{ playgroup_email }}" class="text-sm text-white footer-link">
                        <i class="fa-solid fa-square-envelope"></i>
                    </a>


                    <a href="{{ facebook }}" target="_blank" rel="noopener noreferrer" class="text-sm text-white footer-link">
                        <i class="fa-brands fa-facebook-square"></i>
                    </a>

                </div>
                <p class="text-xs text-white p-3 m-0">&copy;<span id="copyright-year"></span> {{ playgroup_name }}</p>
            </div>
    </div>
</footer>